<!DOCTYPE html>
{# Displays stories user can edit #}
{% extends "baseLoggedIn.html" %}
{% block title %}Unedited stories{% endblock %}
{% block log %}Logout{% endblock %}
{% block content %}
<h2 style ="text-align:center;"> Stories To Edit </h2>
{% if lenStories == 0 %}
<p style ="text-align:center;">Wowza! What a prolific writer?! You've edited all the stories!</p>
{# Displayed when no stories to edit #}
{% else %}
<table border = "0" align="center"  style="background-color: #f5f5f5; border-bottom:1px solid #ddd; width: 50%;">
<tr style="background-color: #4CAF50;color:white;">
    <th>Story</th></tr>
    {% for story in stories %}
    <tr><td><a style="text-decoration:none; color:black;"href = {{ url_for('edit', title=story) }}>{{ story }}</a></td></tr>
    {# Displays url for specified story #}
    {% endfor %}
</table>
{% endif %}
{% endblock %}
