<!DOCTYPE html>
<html>
<head>
    <center>
    <h1><a href={{ url_for('homepage') }}><img src="https://raw.githubusercontent.com/robinhanstuy/Git-Kermmit/master/data/gitKermitLogo.png"height="80" width="80">Git-Kermit StoryTime<img src="https://raw.githubusercontent.com/robinhanstuy/Git-Kermmit/master/data/gitKermitLogo.png"height="80" width="80"></a></h1>
</center>
    {% block head %}

    <title>{% block title %} {% endblock %}</title>

    {% endblock %}
</head>
<body>

    <font color="red"> {% set msgs = get_flashed_messages() %}
        {% for each in msgs %}
        {{each}}
        <br>
        {% endfor %}
    </font>


    {% block content %}
    {% endblock %}

    <p style="position: absolute; bottom: 5px"> &copy; Team Git-Kermit, 1900-2018. Don't copy or you go to jail. </p>
</body>
</html>
