<!DOCTYPE html>
{% extends "baseLoggedIn.html" %}
{% block title %}Edit {{title}}{% endblock %}
{% block log %}Logout{% endblock %}
{% block content %}

<h2> Edit a story </h2>
<h4> Current story: {{ title }} </h4>
<p> Displayed is the last contribution to the story: </p>
<p> {{ story[0] }}</p>
<form action="/editStoryAuth" method="GET" id="form">
    <button type ="submit">Submit</button><br>
    <br>
    <input type="hidden" name="storyTitle" value="{{ title }}"">
    <br>
</form>
<p>Text:</p>
<textarea rows="10" cols="100" name="storyText" form="form" placeholder="Enter text here..."></textarea>
{% endblock %}
