<!DOCTYPE html>
{% extends "base.html" %}

{% block log %}Logout{% endblock %}

{% block content %}
You are logged in as <b>{{user}}</b>
<br><br><br>

Stories you have contributed to:<br>
{% if lenStories == 0 %}
<p>No stories?! Better get to writing!</p>
{% else %}
<table border = "1">
<tr>
    <th>Story</th></tr>
    {% for story in stories %}
    <tr><td><a href = {{ url_for('read', title=story) }}>{{ story }}</a></td></tr>
    {% endfor %}
    {# Maybe add num of words #}
</table>
{% endif %}
<br>

<a href="/create">Create a new story</a>


<br><br><br>

<a href="/unwrittenStories">View stories you can add to</a>

{% endblock %}
