<!DOCTYPE html>
{% extends "baseLoggedIn.html" %}
{% block title %}Homepage{% endblock %}
{% block log %}Logout{% endblock %}

{% block content %}
<form action="/search" method="POST">
    Search Story: <input type="text" name="search" autofocus>
    <button type ="submit">Search</button>
</form>
<br>

You are logged in as <b>{{user}}</b>
<br><br>
<center>


<h2>Stories you have contributed to:</h2><br>
{% if lenStories == 0 %}
<p>No stories?! Better get to writing!</p>
{% else %}
<table border = "1">
<tr>
    <th>Story</th></tr>
    {% for story in stories %}
    <tr><td><a href = {{ url_for('read', title=story) }}>{{ story[0] }}</a></td></tr>
    {% endfor %}
    {# Maybe add num of words #}
</table>
{% endif %}
<br>

<form action="/create" method="POST">
    <button type ="submit">Create A New Story </button>
</form>

<br><br><br>

<form action="/unwrittenStories" method="POST">
    <button type ="submit">View Stories You Can Add To</button>
</form>
</center>

{% endblock %}
