<!DOCTYPE html>
{% extends "base.html" %}


{% block content %}
<br>

<form action="/authenticate" method="POST">
    Username: <input type="text" name="username" autofocus placeholder="username"><br>
    Password: <input type="password" name="password" placeholder="password"><br>
    <button type ="submit">Login</button>
</form>
{% if session["error"] == 1 %}
<p style="color: red">Username incorrect.</p>
{% elif session["error"]== 2 %}
<p style="color: red">Password incorrect.</p>
{% endif %}

<br>
<br>

<form action="/newUser" method="POST">
    <button type ="submit">Create Account</button>
</form>



{% endblock %}
