<!DOCTYPE html>
{% extends "base.html" %}


{% block content %}
<br>

<form action="/authenticate" method="POST">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <button type ="submit">Login</button>
</form>
{% if session["error"] == 1 %}
<p style="color: red">Username incorrect.</p>
{% elif session["error"]== 2 %}
<p style="color: red">Password incorrect.</p>
{% endif %}

<br>
<br>

<p> <a href="/newUser">Create Account</button> </a> </p>



{% endblock %}
